[Desktop Entry]
Name=guhwall
Exec=guhwall
Icon=background
Type=Application
Categories=Settings;Graphics;
Terminal=false
Comment=Set Guh?? Wallpapers??
